.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #699661;
  width: 100%;
  height: 200px;
}

a {
  text-decoration: none;
  color: #699661;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.header-left {
  max-width: 400px;
  height: 26px;
  margin-left: 50px;
}

.header-right {
  max-width: 700px;
  height: auto;
  margin-right: 50px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 34px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.navbar-left {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.separator {
  display: flex;
  flex-direction: column;
}

.separator-8 {
  margin-bottom: 2px;
  background-color: #699661;
  height: 8px;
}

.separator-4 {
  margin-bottom: 2px;
  background-color: #699661;
  height: 4px;
}

.separator-2 {
  background-color: #699661;
  height: 2px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}

.topic {
  background-color: rgb(238, 232, 233);
  width: 12%;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
}
.news-item-1 {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(238, 232, 233);
  height: 320px;
}

.news-item-1 img {
  width: 60%;
  object-fit: cover;
}

.news-item-1-info {
  width: 40%;
  padding: 15px;
}

.news-item-1-info h3 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  text-align: left;
}

.news-item-1-info p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}

.a-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  height: 480px;
}

.a-middle .left {
  width: 59%;
}

.news-item-2 {
  display: flex;
  background-color: rgb(238, 232, 233);
  height: 115px;
  margin-bottom: 5px;
}

.news-item-2 img {
  width: 20%;
  object-fit: cover;
}

.news-item-2-info {
  padding-left: 5px;
  padding-right: 5px;
}

.news-item-2-info h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: left;
}

.news-item-2-info p {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.a-middle .right {
  width: 40%;
  height: auto;
}

.news-item-6 {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 232, 233);
  height: 475px;
}

.news-item-6-info {
  padding-left: 5px;
  padding-right: 5px;
}

.news-item-6-info h3 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
}

.news-item-6-info p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.news-item-bottom {
  width: 24%;
  background-color: rgb(238, 232, 233);
  margin: 5px;
}

.news-item-bottom img {
  width: 100%;
  object-fit: cover;
}

.news-item-bottom-info {
  padding: 5px;
}

.news-item-bottom-info h3 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: left;
}

.news-item-bottom-info p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #699661;
  width: 100%;
  height: 200px;
}
