.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav {
  color: black;
  text-decoration: none;
}

/* it moves other text when getting bigger, fix it */
#nav:hover {
  background-color: rgb(238, 232, 233);
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}
