.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  text-transform: uppercase;
  font-size: 13px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav {
  color: black;
  letter-spacing: 1px;
}

/* it moves other text when getting bigger, fix it */
#nav:hover {
  background-color: #ededed;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}
