.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 42px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  text-transform: uppercase;
}

#nav {
  width: 12.5%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;
  text-decoration: none;
}

#nav:hover {
  background-color: #699661;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
